#loadingResource {
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--dark-gray);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    transition: 0.2s ease;
}