.div--introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark-gray);
    color: var(--white);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
    position: fixed;
    opacity: 1;
    transition: 0.5s;
}

.introduction__h1 {
    font-family: 'Jim Nightshade', cursive;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px 0px 0px 20px;
}

.introduction__p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--white);
}