.main__perfil {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px 40px 0px;
    background: var(--dark-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.perfil__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    color: var(--white);
}

.perfil__info__resetImg {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: solid 1px var(--white);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-gray);
    box-shadow: 3px 2px 8px #000;
}

.perfil__info__img {
    width: 100%;
}

.perfil__info__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil__info__p {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px;
    font-size: 22px;
    letter-spacing: 1.2px;
    font-weight: 400;
}

.perfil__info__span {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px;
    font-size: 22px;
    font-weight: 400;
}

.perfil__userName {
    font-family: 'Bebas Neue', sans-serif;
    margin: 10px 0px;
    padding: 0px 20px;
    font-size: 22px;
    font-weight: 400;
    min-width: 120px;
    max-width: 100%;
    text-align: center;
    color: var(--white);
    align-self: baseline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.perfil__userPhotos {
    width: 100%;
    padding: 0px 4px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4px;
    justify-content: start;
}

.perfil__userPhotos__div {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #000;
    height: 118px;
    width: 118px;
}

.perfil__userPhotos__img {
    min-width: 100%;
    width: auto;
    height: auto;
}

.perfil__addPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 20px 100px 0px;
    background: var(--primary-color);
    color: var(--white);
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 0px;
    outline-width: 0px;
}

.perfil__editData {
    font-family: 'Poppins', sans-serif;
    margin: 0px 20px 20px 20px;
    width: calc(100% - 40px);
    background: var(--primary-color);
    border: 0px;
    border-radius: 10px;
    outline-width: 0px;
    color: var(--white);
    padding: 6px 0px;
    font-size: 18px;
}
.header__btn {
    color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline-width: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}