.perfil__viewPostSection {
    display: none;
    opacity: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: #2f2f2fb7;
    backdrop-filter: blur(2px);
    padding: 40px 20px 120px 20px;
    transition: 0.2s;
}
.viewPostSection__div {
    max-width: 100%;
    max-height: 78vh;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.viewPostSection__img {
    max-width: 100%;
    max-height: 75vh;
}
.viewPostSection__p {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    bottom: 0;
    margin-bottom: 50px;
    padding: 0px 20px;
    text-shadow: 0px 0px 10px #000;
}
.viewPostSection__div--2 {
    position: absolute;
    bottom: 0;
    background: #000000ce;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.viewPostSection__div--3 {
    display: flex;
    align-items: center;

}
.viewPostSection__span {
    margin: 0px 0px 0px 5px;
}
.viewPostSection__trash {
    color: #ff0000;
    font-size: 26px;
}

.viewPostSection__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 35px;
    color: var(--white);
    margin: 10px 10px 0px 0px;
}