.main__signin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    transform: translateX(100vw);
    transition: 0.5s;
}